@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

body{
    background-color: #0D1A2D;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.card{
    background-color: hsl(216, 50%, 16%);
    padding: 20px;
    width: 250px;
    height: 50vh;
    border-radius: 10px;
    z-index: 3;
}

#shadow1{
    width: 325px;
    height: 50vh;
    position: absolute;
    left:41.5vw;
    margin-top:10vh;
    background-color: #0C1729;
    border-radius: 10px;
    z-index: 2;
}

#shadow2{
    background-color: #0C192C;
    width: 370px;
    height: 63vh;
    margin-top: 6vh;
    position: absolute;
    left:40.25vw;
    border-radius: 10px;
    z-index: 1;
}

#cube{
    width: 100%;
    border-radius: 10px;
}

h3{
    color: white;
    font-family: 'Outfit', sans-serif;
}

p{
    font-family: 'Outfit', sans-serif;
}

#descrip{
    color: #7890AD;
    font-size: 18px;
}

#bitcoin, #user, #time{
    display: flex;
    align-items: center;
}

#bluetext{
    color: hsl(178, 100%, 50%);
}

#bluetext{
    margin-left: 5px;
}

#time{
    margin-left: 65px;
    color: #7890AD;
}

#userpic{
    width: 35px;
    border-width: 15px;
    border-radius: 0%;
    border-color: white;
    z-index: 4;
    margin-left: 1px;
}

#days{
    margin-left: 5px;
}

#copyright{
    font-size: 12px;
    margin-left: 10px;
    color: #7890AD; 
}

span{
    color: white;
}

#border{
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    z-index: 3;
}